*{
    padding: 0;
    margin: 0%;

}
.background{
    background: rgb(0,0, 0, 0.7) url('back.jpg');
    background-size:cover;
    background-blend-mode: darken;
}
.logo{
    border-radius: 50%;
    cursor: pointer;
}
.navbar{
    display:block;
    height: 50%;
}
.nav-branb{
    display: flex;
}
.nav-manu{
    transition: 0.5s;
    padding: 23px 34px ;
    margin: 0 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav-link{
    padding:0 12px ;
   list-style: none;
}
.h-nav{
    animation-name: waqar-2;
    animation-iteration-count:infinite;
    color: aliceblue;
    text-decoration: none;
    font: 1em sans-serif;
    animation-name: waqar2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.h-nav:hover{
color: rgb(0, 223, 19);
transition: 0.3s;
background-color: rgb(30, 39, 23);
animation-name: waqar1;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes waqar2{
    0%{
        padding-left: 5%;
        color: rgb(0, 255, 55);
    }
    25%{
        padding: 5%;
        color: rgb(0, 255, 42);
       border-left-color: rgb(255, 0, 0), rgb(219, 201, 201);
    }
    50%{
        padding-top: 10%;
        color: tomato;
        border-color: burlywood;
    }
    75%{
        padding-bottom: 10%;
        color: rgb(255, 166, 0);
        border-color: chartreuse;
        border-right: 1ch;
    }
    100%{
        padding-right: 10%;
        text-shadow: red;
        padding: auto;
        border-color: black;
     color: rgb(255, 0, 157);
    }
   
    }
.right-nav{
    height: 26px;
    display: flex;
    padding-left: 3%;
    padding-bottom: 0%;
}
.right-nav input{
    color: aliceblue;
}
.serech-1{
    background-color: aqua;
    border-radius: 6%;
    background-color: rgba(48, 48, 28, 0.5);
}
.btn-1{

    cursor: pointer;
    border-radius: 10%;
    border-color: rgb(247, 29, 0);
    color: rgb(255, 255, 255);
    border-radius: 10%;
    font: 1em sans-serif;
    background-color: rgba(48, 48, 28, 0.5);
}
.button-1{
   
   cursor: pointer;
    border-radius: 10%;
    border-color: rgb(247, 29, 0);
     cursor: pointer;
    justify-content: center;
    display: flex;
    color: rgb(255, 244, 244);
    background-color: rgba(20, 15, 15, 0.5);
    padding: 12px;
    box-shadow: 10cm;
    
}
.btn{
    animation-name: waqar1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes waqar1{
    0%{
        background-color: aqua;
    }
    25%{
        border-color: aqua;
       border-left-color: rgb(255, 0, 0), rgb(219, 201, 201);
    }
    50%{
        background-color: tomato;
        border-color: burlywood;
    }
    75%{
        background-color: chartreuse;
        border-color: chartreuse;
        border-right: 1ch;
    }
    100%{
        padding: auto;
        border-color: black;
        background-color: blue;
    }
   
    }

.button-1:hover{
    color: rgb(2, 111, 206);
    transition: 0.3s;
   border-color: chartreuse;
   cursor: pointer;
  
}
.hiding-1{
    display: block;
    padding: 12% 12%;
    justify-content: center;
    align-items: center;
    color: rgb(43, 194, 194);
    font: 1em sans-serif;
}


.hiding-2{
    display:flex;
    justify-content: center;
    padding-top: 22px;
    align-items: center;
    color: rgb(1, 7, 7);
    font: 1em sans-serif;
    font-size: 2rem;
}
.para-2{
    display: flex;
    align-items: center;
    font: 1em sans-serif;

}
.img-1{
    border-radius: 30%;
    border-color: black;
}
.sec-2{
    display: block;
}
.last-section {
    display:block;
    padding: 34px;
}
.input{
    box-shadow: 10rem;
    border-color: blue;
    color: rgb(0, 250, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    font: 1em sans-serif;
    font-size: 3rem;
    border-radius: 20%;
}
.c-1{
    border-color: chartreuse;
    font: 1em sans-serif;
     border-radius: 20%;
    padding: 0% 28%;
    display:block;
    align-items: center;
    justify-content: baseline;
    font-size: larger;
    margin: 2px;
   
}
.c-1{
     padding: 1% 25%;
}
.c-last{
    border-color: chartreuse;
    background-color: rgb(26, 21, 21,0.5);
    padding: 0 34px;
    border-radius: 13%;
    width: 100%;
    gap: 12px;
    height: 23px;
     margin-top: 23px;
     align-items: center;
}
.c-1 input{
    color: chartreuse;
}
.last-btn{
    /* background-color: rgb(32, 23, 23,0.5); */
    border-radius: 7%;
    border-color: rgb(0, 255, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 52px;
    margin: 10% 54px;
    background-color: hsl(var(--primary-hsl),rgb(36, 36, 49) .25);
    
}
.last-btn:hover{
    animation-play-state: running;
    clear: both;
    padding: 14px 62px;
    -webkit-column-break-inside: avoid-column;
    background-color: rgb(72, 56, 172);
    border-color: rgb(255, 0, 0);
    cursor: pointer;
}

.lable{
    color: rgb(255, 255, 255);
    
}
.hamburger{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 12px;
}
.bar{
    padding: 1px 12px;
    display: block;
    width: 15%;
    height: 1px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: aliceblue;
    align-items: flex-end;
}

.contanor{
    display: block;
    padding: 23px;
    height: 4%;
    display: flex;
 background-color: rgb(219, 201, 201);
}
.box{
    height: 2%;
    width: 120px;
    padding: 15px;
    margin: 2px;
    font: 1em sans-serif;
    font-style: normal;
}
.a-1{
    color: aliceblue;
    
}

.box-mail{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 2%;
    padding: 24px;
    border-radius: 50%;
    border-color: black;
    background-color: rgb(255, 59, 59);
    align-items: center;
    justify-content: center;
    display: flex;
    color: aliceblue;
}


@media only screen and (max-width:600px) {
    

    .hamburger{
        display: block;
       
    }
    .nav-manu{
        transition: 0.5s;
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
       transform:translate(8px)rotate(45deg);
    }
    .hamburger.active .bar:nth-child(1){
       transform:translate(-8px)rotate(-45deg);
    }
    .hamburger{
       direction:unset;
    }
    


    .navbar{
        transition: 0.5s;
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-manu{
        display:block;
        margin: -20%;
    }
    .right-nav{
        justify-content: center;
        align-items: center;
        display: block;
        flex-direction: column;
        padding-left: 3%;
    }

   .contanor{
     
   }
  

}